body {
	margin: 0;

	font-family: CaviarDreams;
	color: #fff;

	background-image: url("../img/background.svg");
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face{
	font-family: ArchivoNarrow-Regular;
	src:url('../fonts/ArchivoNarrow-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: CaviarDreams;
	src:url('../fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 100%;
	max-width: 1440px;

	margin: 0 auto;
}

/* Header */

.header {
	width: 100%;

	border-bottom: 4px solid #30273E;
	box-shadow: 0px 2px 0px 0px rgba(48, 39, 62, .2), -1em 0 .4em;
	padding: 24px;
	backdrop-filter: blur(5px);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Navigation */

.nav {
	font-size: 32px;
	color: #fff;

	cursor: pointer
}

.nav__link {
	padding: 15px 30px;

	background: #30273E;
	border-radius: 15px;

	display: inline-block;
	margin: 0 20px;
}

.social__img {
	width: 53px;
	height: 53px;

	margin-right: 17px;
}

h2 {
	text-align: center;
	font-size: 50px;
}

.container {
	// border: 5px solid #000;
}

.all-news {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin-left: 10%;
	width:80%;
	// border: 1px solid #000;
}

.news {
	margin: 20px;
	height: 350px;
	width: 280px;
	background: #000;
	border-radius: 45px;
}

.news img {
	border-radius: 45px;
	filter: brightness(60%);
}

.news .title {
	position: relative;
	bottom: 150px;
	left: 20px;
	color: #fff;
	font-size: 25px;
	width: 200px;
}

.news .text {
	position: relative;
	bottom: 130px;
	left: 20px;
	color: #fff;
	font-size: 18px;
	width: 200px;
}



