<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\style.css">
        <title>ITres</title>
    </head>
    <body>


        <div class="header">
                <div class="header__inner">
                    <img src="..\static\img\logo.svg">
                    <nav class="nav">
                        <div class="nav__link">ФОТО-ГАЛЕРЕЯ</div>
                        <div class="nav__link">ПОРТФОЛИО</div>
                        <a style="color:white" href="/all_news"><div class="nav__link">НОВОСТИ</div></a>
                    </nav>
                    <div>
                        <a href="https://t.me/ClubITres" style="text-decoration: none;" target="_blank">
                            <img class="social__img" src="..\static\img\tg.svg" alt="">
                        </a>
                        <a href="https://vk.com/stgau_itres" style="text-decoration: none;" target="_blank">
                            <img class="social__img" src="..\static\img\vk.svg" alt="">
                        </a>
                    </div>
                </div>
        </div> <!-- Header -->


        <div class="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="about">О нас: ITres — самое технологическое студенческое объединение Ставропольского государственного аграрного университета! С нами ты сможешь прокачать свои навыки программирования, окунуться в мир Python и C#, а также принять участие в хакатонах различной направленности и уровня. Наша IT-семья ждёт тебя!</div>
                </div>
            </div>
        </div> <!-- Intro -->


        <div class="photo">
            <div class="containet">
                <div class="photo__inner">
                    <div class="view">
                        <div onclick="image(0)" style="transform: rotate(180deg); cursor: pointer;" ><img src="..\static\img\next.svg"></img></div>
                        <div onmouseover="btn_show()" onmouseover="btn_noshow()" class="wrapper">
                            <script type="text/javascript">
                                var imageArray = [
                                    "../static/img/1.svg",
                                    "../static/img/2.svg",
                                    "../static/img/3.svg",
                                    "../static/img/4.svg",
                                    "../static/img/5.svg",
                                    "../static/img/6.svg",
                                    "../static/img/7.svg",
                                    "../static/img/8.svg",
                                    "../static/img/9.svg",
                                    "../static/img/photo.svg",
                                ];
                                window.number = '0';
                                var imageCount = imageArray.length;
                                function image(num){
                                    if(num == 1){
                                        if(number == imageCount - 1)
                                        {
                                            number = -1;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                        if(number < imageCount - 1){
                                            number++;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                    }
                                    else{
                                        if(number <= 0)
                                        {
                                            number = 8;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                        else{
                                            number--;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                    }
                                }
                                function select(num) {
                                    document.getElementById('images').src = imageArray[num];
                                    window.number = num;
                                }
                                document.write('<img id="images" src="' + imageArray[0] + '">');
                            </script>
                        </div>
                        <div onclick="image(1)" style="cursor: pointer;"><img src="..\static\img\next.svg"></img></div>
                    </div>
                    <div class="choose">
                        <div class="circle" onclick="select(0)"></div>
                        <div class="circle" onclick="select(1)"></div>
                        <div class="circle" onclick="select(2)"></div>
                        <div class="circle" onclick="select(3)"></div>
                        <div class="circle" onclick="select(4)"></div>
                        <div class="circle" onclick="select(5)"></div>
                        <div class="circle" onclick="select(6)"></div>
                        <div class="circle" onclick="select(7)"></div>
                        <div class="circle" onclick="select(8)"></div>
                    </div>
                </div>
            </div>
        </div> <!-- Photo -->

        <div class="aboutf">
            <div class="container">
                <div class="aboutf__inner">
                    <div class="squares">
                        <div class="square">
                            <div>В нашей семье</div>
                            <img src="..\static\img\people.svg" alt="">
                            <div>более сотни людей!</div>
                        </div>
                        <div class="square">
                            <div>ITres</div>
                            <img src="..\static\img\laptop.svg" alt="">
                            <div>Мир IT - здесь!</div>
                        </div>
                        <div class="square">
                            <div>Мы учавствуем в</div>
                            <img src="..\static\img\event.svg" alt="">
                            <div>лучших мероприятиях!</div>
                        </div>
                    </div>
                    <img src="..\static\img\phone.svg" class="resize__phone">
                </div>
            </div>
        </div> <!-- About -->

        <div class="footer">
            <footer class="footer__inner">
                <div class="to__margin">
                    <img src="..\static\img\lisa.svg" alt="">
                    <div class="text__block">Елизавета Кондратьева</div>
                </div>
                <div class="to__margin">
                     <div class="text__block">Анна Соболева</div>
                     <img src="..\static\img\anna.svg" alt="">
                </div>
                <div class="to__margin">
                    <img src="..\static\img\stes.svg" alt="">
                    <div class="text__block">Стефания Сосискова</div>
                </div>
            </footer>
        </div>
    </body>
</html>