<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\style.css">
        <title>ITres</title>
    </head>
    <body>


        <div class="header">
            <div class="container">
                <div class="header__inner">
                    <img src="..\static\img\logo.svg">
                    <nav class="nav">
                        <div class="nav__link">ФОТО-ГАЛЕРЕЯ</div>
                        <div class="nav__link">ПОРТФОЛИО</div>
                        <a style="color:white" href="all_news"><div class="nav__link">НОВОСТИ</div></a>
                    </nav>
                    <div>
                        <a href="https://t.me/ClubITres" style="text-decoration: none;" target="_blank">
                            <img class="social__img" src="..\static\img\tg.svg" alt="">
                        </a>
                        <a href="https://vk.com/stgau_itres" style="text-decoration: none;">
                            <img class="social__img" src="..\static\img\vk.svg" alt="" target="_blank">
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- Header -->


        <div class="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="about">О нас:</div>
                    <div class="info"></div>
                </div>
            </div>
        </div> <!-- Intro -->


        <div class="photo">
            <div class="containet">
                <div class="photo__inner">
                    <div class="view">
                        <div onclick="image(0)" style="transform: rotate(180deg); cursor: pointer;" ><img src="..\static\img\next.svg"></img></div>
                        <div onmouseover="btn_show()" onmouseover="btn_noshow()" class="wrapper">
                            <script type="text/javascript">  
                                var imageArray = [
                                    "../static/img/2.jpg",
                                    "../static/img/3.jpg",
                                    "../static/img/4.jpg",
                                    "../static/img/5.jpg",
                                    "../static/img/6.jpg",
                                    "../static/img/7.jpg",
                                    "../static/img/8.jpg",
                                    "../static/img/9.jpg",
                                    "../static/img/photo.svg",
                                ];
                                window.number = '0';
                                var imageCount = imageArray.length;     
                                function image(num){                
                                    if(num == 1){
                                        if(number == imageCount - 1)
                                        {                        
                                            number = -1;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                        if(number < imageCount - 1){                        
                                            number++;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                    }                    
                                    else{
                                        if(number <= 0)
                                        {                        
                                            number = 8;
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                        else{
                                            number--;                 
                                            document.getElementById('images').src = imageArray[number];
                                        }
                                    }
                                }
                                function select(num) {
                                    document.getElementById('images').src = imageArray[num];
                                    window.number = num;
                                }
                                document.write('<img id="images" src="' + imageArray[0] + '">');
                            </script>
                        </div>
                        <div onclick="image(1)" style="cursor: pointer;"><img src="..\static\img\next.svg"></img></div>
                    </div>
                    <div class="choose">
                        <div class="circle" onclick="select(0)"></div>
                        <div class="circle" onclick="select(1)"></div>
                        <div class="circle" onclick="select(2)"></div>
                        <div class="circle" onclick="select(3)"></div>
                        <div class="circle" onclick="select(4)"></div>
                        <div class="circle" onclick="select(5)"></div>
                        <div class="circle" onclick="select(6)"></div>
                        <div class="circle" onclick="select(7)"></div>
                        <div class="circle" onclick="select(8)"></div>
                    </div>
                </div>
            </div>
        </div> <!-- Photo -->

        <div class="aboutf">
            <div class="container">
                <div class="aboutf__inner">
                    <div class="squares">
                        <div class="square"></div>
                        <div class="square"></div>
                        <div class="square"></div>
                    </div>
                    <img src="..\static\img\phone.svg" class="resize__phone">
                </div>
            </div>
        </div> <!-- About -->

        <div class="news">
            <div class="news__inner">
                <div onclick="" style="transform: rotate(180deg); cursor: pointer; position: absolute;" ><img src="..\static\img\next2.svg"></img></div>
                <img src="..\static\img\left.svg" alt="">
                <img src="..\static\img\center.svg" alt="">
                <img src="..\static\img\right.svg" alt="">
                <div onclick="" style="cursor: pointer; position: absolute; right: 0;"><img src="..\static\img\next2.svg"></img></div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <footer class="footer__inner">
                    <div> <img src="..\static\img\lisa.svg" alt=""></div>
                    <div> <img src="..\static\img\anna.svg" alt=""></div>
                    <div> <img src="..\static\img\stes.svg" alt=""></div>
                </footer>
            </div>
        </div>
    </body>
</html>