<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/style_ap.css">

	<title>admin_panel</title>
</head>
<body>
	<div class="header">
	    <div class="header__inner">
	        <img src="..\static\img\logo.svg">
	    </div>
    </div> <!-- Header -->

	<div class="container">
		<ul>
			<li><a href="/">ГЛАВНАЯ</a></li>
			<li><a href="/editor">НОВАЯ НОВОСТЬ</a></li>
			<li><a href="/news_control">МОИ НОВОСТИ</a></li>
			<li><a href="/logout">ВЫЙТИ</a></li>
		</ul>
	</div>
</body>
</html>