<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\style_news.css">
        <title>ITres - Новости</title>
    </head>
    <body>


    	<div class="header">
                <div class="header__inner">
                    <img src="..\static\img\logo.svg">
                    <nav class="nav">
                        <div class="nav__link">ПОРТФОЛИО</div>
                    </nav>
                    <div>
                        <a href="https://t.me/ClubITres" style="text-decoration: none;" target="_blank">
                            <img class="social__img" src="..\static\img\tg.svg" alt="">
                        </a>
                        <a href="https://vk.com/stgau_itres" style="text-decoration: none;" target="_blank">
                            <img class="social__img" src="..\static\img\vk.svg" alt="">
                        </a>
                    </div>
                </div>
        </div> <!-- Header -->


        <div class="info">
        	<div class="container">
        		<div class="info__inner">
        			<div class="info__first">
        				<div class="date">
	        				<p id="date" class="info__center">
	        					<h3>{{ news_info['date'] }}</h3>
	        				</p>
	        			</div>
	        			<div class="title">
	        				<p class="info__center">
	        					<h2>{{ news_info['title'] }}</h2>
	        				</p>
        				</div>
        				<p class="info__center"><img src="{{ news_info['photo'] }}" alt=""></p>
        			</div>
                    <textarea class="info__center" readonly>{{ news_info['text'] }}</textarea>
                </div>
        	</div>
        </div>
    </body>
</html>