<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\news_style.css">
        <title>ITres - Новости</title>
    </head>
    <body>


    	<div class="header">
                <div class="header__inner">
                    <img src="..\static\img\logo.svg">
                    <nav class="nav">
                        <div class="nav__link">ПОРТФОЛИО</div>
                    </nav>
                    <div>
                        <a href="https://t.me/ClubITres" style="text-decoration: none;">
                            <img class="social__img" src="..\static\img\tg.svg" alt="">
                        </a>
                        <a href="https://vk.com/stgau_itres" style="text-decoration: none;">
                            <img class="social__img" src="..\static\img\vk.svg" alt="">
                        </a>
                    </div>
                </div>
        </div> <!-- Header -->


        <div class="info">
        	<div class="container">
        		<div class="info__inner">
        			<div class="info__first">
        				<p class="info__center"><img src="..\static\img\smallnews.svg" alt=""></p>
        				<p class="info__center"><img src="..\static\img\bignews.svg" alt=""></p>
        				<p class="info__center"><img src="..\static\img\news.svg" alt=""></p>
        			</div>
        			<div class="info__second">
        				<div class="info__center">ITres | ВКонтакте (vk.com)</div>
        			</div>
        		</div>
        	</div>
        </div>
    </body>
</html>