<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Новости</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style_new_preview.css">
</head>
<body>
  <div class="container">
    <h1>Список новостей</h1>
    <div class="news-list">
      {% for news in all_news %}
        <div class="news">
          <h2 class="title">{{ news['title'] }}</h2>
          <p class="text">{{ news['text'] }}</p>
          <img class="photo" src="{{ news['photo'] }}" alt="image">
        </div>
      {% endfor %}

    </div>
  </div>
</body>
</html>